$primary: #fcb616;
$secondary: #381100;
$cream: #f9f6f1;
$white: #fff;
$light: #efd9d0;

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

:root {
    --primary-color: #381100;
}

body {
    background-color: $secondary;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.sora {
    font-family: Sora;
    font-weight: 500;
}

.hover {
    transition: transform 0.3s;
}

.hover:hover {
    transform: scale(1.15);
    cursor: pointer;
    z-index: 1;
}

section {
    margin-top: 50px;
}

span {
    color: $secondary;
}

.navbar {
    transition: all 0.6s;
}

.nav-item {
    position: relative;
}

.nav-item::after {
    content: '';
    transition: all 1s;
    height: 2px;
    width: 100%;
    background-color: $light;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.nav-item:hover::after {
    opacity: 1;
}

.nav-item:hover:last-child {
    height: 0;
}

.spinner-wrapper {
    background-color: $cream;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}

.spinner-grow {
    margin: 10px;
}

a {
    text-decoration: none;
    color: $secondary;
}

p>a:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 15px $primary;
    color: $primary;
}

.effect>a img:hover {
    transition: transform 1s ease-in;
}

.effect>a img:hover {
    transform: scale(1.2);
}

.card {
    background-color: $cream;
}

.rating-container {
    font-size: 1.5rem;
}

#home,
#main {
    border-bottom: 1px solid $primary;
}

#footer {
    padding-top: 30px;
}

p > a {
    color: $primary;
}

.carousel-inner {
    background: url(../src/images/pngs/splash.png) no-repeat;
    background-size: 100%;
}

// card backgrounds

.primary {
    background-color: var(--primary-color);
    box-shadow: -10px 1px 30px var(--primary-color);
    border: 1px solid $primary;
}

@media only screen and (max-width: 800px) {
    .mt-6 {
        margin-top: 60px;
    }
}